@page "/"

<PageTitle>Home</PageTitle>

<AuthorizeView>
    <Authorized>
        <p>Usuario autenticado, hola @context.User.Identity?.Name :D</p>
    </Authorized>
    <NotAuthorized>
        <p>Usuario no autenticado, por favor inicia sesión.</p>
    </NotAuthorized>
</AuthorizeView>